@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Display", cursive;
  overflow-x: hidden;
}
/* font-family: 'Outfit', sans-serif; */
